/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero {
    z-index: 1;
    position: relative;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;
    /* changes on tablet */
    padding: 0 1rem;
    padding-bottom: 6.25rem;
    font-family: "Roboto", "Arial", sans-serif;
    /* Centers button */
    text-align: center;
  }
  #hero .cs-picture {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    /* Background Image */
    width: 100%;
  }
  #hero .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image act like a background-image */
    object-fit: cover;
  }
  #hero .cs-picture:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    /* Black Color Overlay */
    content: "";
    opacity: 0.7;
    display: block;
    height: 100%;
    width: 100%;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero .cs-container {
    position: relative;
    margin: auto;
    max-width: 80em;
    width: 100%;
    /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
    /* 144px - 280px - leaving extra space for the navigation */
    /* changes on tablet */
    padding: clamp(9em, 25.95vw, 17.5em) 0;
  }
  #hero .cs-container:before {
    position: absolute;
    top: 0;
    left: 0;
    /* Left Line */
    content: "";
    opacity: 1;
    display: block;
    background: -moz-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    height: 100%;
    width: 1px;
  }
  #hero .cs-flex-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    /* 60px - 220px */
    margin-bottom: clamp(3.75em, 15.5vw, 13.75em);
    /* 464px - 562px */
    max-width: clamp(29em, 60vw, 35.125em);
    width: 80vw;
    box-sizing: border-box;
  }
  #hero .cs-topper {
    margin-bottom: 1rem;
    color: var(--primary);
    text-align: center;
  }
  #hero .cs-title {
    width: 100%;
    color: var(--bodyTextColorWhite);
    text-align: center;
  }
  #hero .cs-text {
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
    color: var(--bodyTextColorWhite);
    text-align: center;
  }
  #hero .cs-button-solid {
    margin-bottom: 1rem;
    height: initial;
    line-height: clamp(2.875em, 5.5vw, 3.5em);
  }
  #hero .cs-button-transparent {
    z-index: 1;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bodyTextColorWhite);
    margin: 0 0.5rem;
    background-color: transparent;
    /* 46px - 56px */
    height: clamp(2.875em, 5.5vw, 3.5em);
    width: 11.25rem;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    font-weight: 700;
    color: #fff;
  }
  #hero .cs-button-transparent .cs-img {
    display: block;
    margin-right: 0.75rem;
  }
  #hero .cs-button-transparent:before {
    z-index: -1;
    position: absolute;
    /* so it sits on top of the border */
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    opacity: 1;
    /* this is what creates the grow affect on hover */
    transform: scaleX(0);
    display: block;
    background: #000;
    transition: transform 0.3s;
    transform-origin: left;
  }
  #hero .cs-button-transparent:hover:before {
    transform: scaleX(1);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero {
    /* 32px - 40px */
    padding: 0 clamp(2em, 5vw, 2.5em);
  }
  #hero .cs-container {
    padding: clamp(7em, 27.95vw, 17.5em) 0 clamp(9em, 30.95vw, 23.5em) 0;
  }
  #hero .cs-container:after {
    position: absolute;
    top: 0;
    right: 0;
    /* Right Line */
    content: "";
    opacity: 1;
    display: block;
    background: -moz-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    height: 100%;
    width: 1px;
  }
  #hero .cs-button-solid {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}
/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25em) {
  #hero {
    background: url("/assets/images/ohboy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* creates parallax effect on background image */
    background-attachment: fixed;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero .cs-background:before {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  .services {
    z-index: 100;
    position: relative;
    border-top: 0.375em solid var(--primary);
    border-radius: 0.3125em;
    margin: auto;
    margin-top: calc(-167 / 16 * 1em);
    margin-bottom: 3.125em;
    background: #fff;
    max-width: 82.5em;
    width: 90%;
    padding: 3.125em 1.25em;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  }
  .services .card {
    display: block;
    margin: auto;
    margin-bottom: 3.125em;
    max-width: 22.3125em;
    width: 100%;
  }
  .services .card picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.4375em;
  }
  .services .card picture img {
    height: 100%;
    width: 100%;
  }
  .services .card h2 {
    margin-bottom: 0.65em;
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    text-align: center;
  }
  .services .card p {
    opacity: 0.7;
    width: 100%;
    line-height: 1.33333333em;
    text-align: center;
  }
  .services .card:last-of-type {
    margin-bottom: 0;
  }
}
/* Inbetween */
@media only screen and (min-width: 768px) {
  .services {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    font-size: min(1.8vw, 1em);
  }
  .services .card {
    margin: 0;
    max-width: 20.3125em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .services {
    padding: 3.125em 5em;
  }
  .services .card {
    max-width: 22.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services {
    background: var(--medium);
  }
  body.dark-mode #services picture {
    background: var(--primaryDark);
  }
  body.dark-mode #services h2 {
    font-weight: bold;
    color: #fff;
  }
}
.cs-button-solid:hover {
  color: white !important;
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-2169 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #sbsr-2169 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 10vw, 8rem);
  }
  #sbsr-2169 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-2169 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
  }
  #sbsr-2169 .cs-text:last-of-type {
    /* 32px - 80px */
    margin-bottom: clamp(2rem, 7vw, 5rem);
  }
  #sbsr-2169 .cs-picture {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbsr-2169 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-2169 .cs-image-group {
    width: 100%;
    /* 520px - 740px */
    height: clamp(32.3125rem, 100vw, 46.25rem);
    flex: none;
    position: relative;
    z-index: 1;
    order: -1;
  }
  #sbsr-2169 .cs-picture1 {
    /* 220px - 400px */
    height: clamp(13.75rem, 30vw, 25rem);
    max-height: 25rem;
    border: clamp(4px, 2vw, 9px) solid #fff;
  }
  #sbsr-2169 .cs-picture2 {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    /* changes to a clamp at tablet */
    right: 2.5rem;
    left: 0;
    /* changes to clamp at tablet */
    bottom: 3.4375rem;
  }
  #sbsr-2169 .cs-floater {
    /* 80px - 170px */
    width: clamp(5rem, 15vw, 10.625rem);
    height: auto;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  #sbsr-2169 .cs-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbsr-2169 .cs-background img {
    width: 100%;
    height: 100%;
    opacity: 0.16;
    mix-blend-mode: darken;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-2169 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbsr-2169 .cs-content {
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-2169 .cs-image-group {
    width: 45vw;
    max-width: 32.625rem;
    height: auto;
    margin-bottom: 3.125rem;
    order: 2;
  }
  #sbsr-2169 .cs-picture2 {
    /* 60px - 100px */
    right: clamp(3.75rem, 10vw, 6.5rem);
    /* 80px - 120px */
    bottom: clamp(5rem, 9vw, 7.5rem);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-2220 {
    padding: var(--sectionPadding);
    background-color: #fdfaf8;
    position: relative;
    z-index: 1;
  }
  #services-2220 .cs-container {
    width: 100%;
    /* changes to 1840px at tablet */
    max-width: 44rem;
    margin: auto;
  }
  #services-2220 .cs-title {
    text-transform: uppercase;
  }
  #services-2220 .cs-card-group {
    width: 100%;
    /* changes to 100% at tablet */
    max-width: 31.25rem;
    margin: 0 auto;
    padding: 0;
    /* changes to flexbox at large desktop */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #services-2220 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    /* 240px - 300px */
    min-height: clamp(15rem, 30vw, 18.75rem);
    margin: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    /* clips the image corners */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
    grid-row: span 1;
    position: relative;
  }
  #services-2220 .cs-item:hover .cs-h3,
  #services-2220 .cs-item:focus-within .cs-h3 {
    transform: translateY(-0.75rem);
  }
  #services-2220 .cs-item:hover .cs-background:before,
  #services-2220 .cs-item:focus-within .cs-background:before {
    height: 180%;
  }
  #services-2220 .cs-item:hover .cs-background img,
  #services-2220 .cs-item:focus-within .cs-background img {
    opacity: 0.5;
    transform: scale(1.1);
  }
  #services-2220 .cs-link {
    text-decoration: none;
    height: 100%;
    /* 16px - 24px */
    padding: clamp(1rem, 1.25vw, 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  #services-2220 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    transition: transform 0.3s, color 0.3s;
  }
  #services-2220 .cs-content {
    text-align: center;
    min-height: 0;
    padding: 1.5rem;
    background-color: #fbf5f1;
    justify-content: center;
    align-items: center;
  }
  #services-2220 .cs-title {
    margin: 0 0 2rem;
  }
  #services-2220 .cs-button-solid {
    font-size: calc(16 / 16 * 1rem);
    font-weight: bold;
    line-height: calc(50 / 16 * 1em);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: max-content;
    padding: 0 calc(30 / 16 * 1rem);
    background-color: var(--primary);
    color: #000;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
    transition-delay: 0.1s;
  }
  #services-2220 .cs-button-solid:hover {
    color: #fff;
  }
  #services-2220 .cs-button-solid:hover:before {
    width: 100%;
  }
  #services-2220 .cs-button-solid:before {
    content: "";
    width: 0;
    height: 100%;
    background-color: #000;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #services-2220 .cs-background {
    width: 100%;
    height: 100%;
    background-color: #000;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-2220 .cs-background:before {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 14.59%, rgba(0, 0, 0, 0) 43.18%);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 0.3s;
  }
  #services-2220 .cs-background img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    z-index: -1;
    transition: transform 0.6s, opacity 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2220 .cs-container {
    max-width: 115rem;
  }
  #services-2220 .cs-card-group {
    max-width: 100%;
    grid-template-rows: 1fr;
  }
  #services-2220 .cs-item {
    grid-column: span 4;
  }
  #services-2220 .cs-item.cs-content {
    grid-column: span 12;
  }
}
/* Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
  #services-2220 .cs-card-group {
    min-height: 37.5rem;
    display: flex;
    flex-direction: row;
  }
  #services-2220 .cs-content {
    min-width: 22rem;
    padding: 9.75rem 0 12.5rem;
  }
}
.lilita-one-regular {
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
}
