---
title: 'Wild Party Co'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <!-- <div class="cs-container"> -->
            <div class="cs-flex-group">
                <div class="cs-container" style="padding-bottom: 0px !important;">
                    <div class="cs-flex-group">
                        <picture style="z-index:9;">
                            <!-- <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp"> -->
                            <source media="(max-width: 600px)" srcset="/assets/images/partydreams-m.png">
                            <img aria-hidden="true" decoding="async" src="/assets/images/partydreams.png" alt="new home" loading="eager">
                        </picture>
                    </div>
                </div>
            </div>
        <!-- </div> -->

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/ohboy2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/ohboy2.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services lilita-one-regular" style="background-color: #ffba21;">
        <!-- Get Icons From flaticon.com -->
        <div class="card" style="margin: auto;">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/fun.png"
                alt="appliance"
                width="100%"
                height="100%"/>
            </picture>
            <a href="/about" class="cs-button-solid" style="margin: auto; color:black;left: 28%;border-radius: 5px;">Learn More</a>
            <!-- <h2>Service 3</h2> -->
        
        </div>
    </section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2169">
    <div class="cs-container lilita-one-regular">
        <div class="cs-content">
            <span class="cs-topper">Welcome to Wild Party Co</span>
            <h2 class="cs-title">Bold & Colorful Event Design in Tulsa, OK</h2>
            <p class="cs-text">
                Wild Party Co. is Tulsa, OK’s premier event planning company that specials in modern & colorful event design.  At Wild Party Co. we can take care of all your event needs - event coordination, design, balloons, and more!
            </p>
            <a href="/about" class="cs-button-solid" style="margin: auto; color:black;left: 28%; border-radius: 5px;">Book Now</a>
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/dining.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/dining.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/dining.jpg" alt="people" width="630" height="400" style="border-radius: 25px;">
            </picture>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/balloons.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/balloons.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/balloons.jpg" alt="people" width="420" height="619" style="border-radius: 25px;">
            </picture>
            <img class="cs-floater" loading="lazy" decoding="async" src="/assets/images/balloon-blue.png" alt="flower" width="170" height="301" >
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/stone-texture.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/stone-texture.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/stone-texture.jpg" alt="stone texture" width="630" height="400">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2220">
    <div class="cs-container lilita-one-regular">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Event Planning</h3>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/event_planning.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/event_planning.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/event_planning.jpg" alt="person" width="352" height="440" >
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Rentals</h3>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/rentals.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/rentals.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/rentals.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Charcuterie</h3>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/charcuterie.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/charcuterie.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/charcuterie.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item cs-content">
                <span class="cs-topper">What We Do</span>
                <h2 class="cs-title">Events that are inspired</h2>
                <a href="" class="cs-button-solid">Book an Appointment</a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Balloon Garlands</h3>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/garland.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/garland.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/garland.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Gender Reveal</h3>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/gender.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/gender.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/gender.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Celebrate With Us!</h3>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/celebrate.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/celebrate.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/celebrate.jpg" alt="person" width="352" height="440">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>
                                

    {% include 'components/cta.html' %}
{% endblock %}